* {
    background-color: #632626;
    color: #DACC96;
    font-family: 'Gill Sans', sans-serif;
    box-sizing: border-box;

}
body {
    margin: 100px;
}
h1 {
    text-align: center;
    font-size: 72px;
}

a {
    color: #BF8B67;
    font-size: 32px;
    padding: 10px;
    display: block;
}
li {
    margin-bottom: 10px;

}
a:hover {
    color: #9D5353;
    font-size: 33px;
}